html,
body {
   height: 100%;
    font-size: 16px;
    font-family: 'Cubano-Regular';
}

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}

section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

}

.odd-section-color {
    background: #F3F3F3;
}

/* Main navigation*/
#nav-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito-Regular';
    background: transparent;
    padding: 0;
}

#nav-main ul {
    display: inline-block;
    height: 27;
}

.nav-icon {
    display: inline-block;
    margin: 0;
    margin-right: 20px;
}

.nav-icon:hover {
   background: deeppink;
   border-radius: 50%;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   transition: 0.5s;
}

.nav-icon i {
   background: rgba(126, 160, 158, 0.4);;
   border-radius: 50%;
   padding: 0.8rem;
   color: rgba(255, 255, 255, 1);
   font-size: 1.8rem;
}

#nav-main li a {
   border-bottom: 1px solid transparent;
   color: rgba(126, 160, 158, 0.8);
   text-transform: uppercase;
   font-size: 1.2rem;
   transition: 0.5s;
}

#nav-main li a:hover {
   border-bottom: 2px solid rgba(19, 128, 36, 1);
   transition: 0.9s;
}

/* Hamburger menu */
.nav-toggle {
    position: absolute;
    top: 1.875rem;
    left: 1.875rem;
    font-size: 2rem;
    cursor: pointer;
}
.open {
        transform: translateX(0)!important;
}

/* Cover section */
#cover-section {
   background: url('../img/cover-background.jpg');
   background-size: cover;
   color: #fff;
   height: 100%;
   width: 100%;
}

#cover-caption {
   font-weight: 200;
   margin: 27rem 0 auto;
   border-radius: 1.375rem;
   text-align: center;
   color: #fff;
   font-weight: 700;
   width: 100%;
   align-self: flex-end;
}

#cover-caption h1 {
   text-transform: uppercase;
   font-weight: 700;
}

#cover-caption p {
   font-size: 1.4rem;
   margin-bottom: 1rem;
}

#cover-caption a {
   margin-top: 1rem;
   font-size: 2rem;
   color: rgba(19, 128, 36, 0.9);
   transition: 0.85s;
}

#cover-caption a:hover {
   color: white;
   font-size: 2.5rem;
   transition: 0.8s;
}

 /* About-section */
#about img {
  float: right;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-size: cover;
  border: 2px solid black;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

/*Work-section*/
#work img {
    width: 100%;
}

#work .card-block {
    padding-bottom: 0;
}

 /* Testimonials Section */
 #testimonials {
     height: auto;
 }

#testimonials img {
  float: right;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-size: cover;
  border: 2px solid black;
}

#testimonials .row {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Nunito-Regular';
}

.slider-button-parent {
    align-self: center;
    font-size: 2.5rem;
}

.slider-button-parent a:hover {
    color: deeppink;
}

#testimonials-slider-nav {
    text-align: center;
}

#testimonials-slider-nav .slider-nav-control {
    padding-left: 0.8rem;
    color: #0275d8;
    text-decoration: none;
}

.testimonial-slider-item:hover {
    opacity: 0;
    transition: 5s;
}

#testimonials-slider-nav .current,#testimonials-slider-nav .slider-nav-control:hover {
    color: deeppink;
    /*color: rgb(19, 128, 36);*/
    font-size: 1.125rem;
    transition-timing-function: ease-in-out;
    transition: 0.4;
}

form,
.jconfirm-box {
   font-family: 'Nunito-Regular';
}

/* Contact-form */
#contact-submit-btn {
    margin-right: 0.9375rem;
    float: right;
}

/* contact confirm box */
.jconfirm .jconfirm-box {
    float: none;
    width: 100%;
}

/* jquery confirm adapt to bootstrap 4*/
.jconfirm-box-container {
    float: none;
    width: 100%;
}

.jconfirm.jconfirm-supervan .jconfirm-box .jconfirm-buttons button {
    background: #5CB85C;
}

.hide {
    display: none;
}

/* Footer Section*/
footer {
    background-color: #222;
}

footer .row {
    display: flex;
    align-items: stretch;
}

footer .row div{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #888;
    font-size: 1.125rem;
    margin: 0;
}

.social-links ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

.social-links li {
    display: inline-block;
    padding-left: 1.5rem;
    font-size: 1.5rem;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 160%;
    transition: 0.2s;
}

.social-links i:hover {
    color: deeppink;
}

.scroll-to-top-button {
text-align: center;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-google-plus-square,
.fa-instagram {
    transition: 0.2s;
}

.fa-chevron-circle-up {
    color: rgb(14, 96, 27);
    transition: 0.2s;
}

.fa-chevron-circle-up:hover {
    color: rgba(14, 96, 27, 0.92);
    transition: 0.2s;
}

/* Text styles*/
h2 {
    text-align: center;
    padding-bottom: 1.25rem;
}

.bold-green {
   font-weight: 700;
   color: rgba(19, 128, 36, 0.9);
}

.green-underline {
   color: white;
    border-bottom: 4px solid rgba(19, 128, 36, 1);
}

/* Animations */
.js-wp-1 {
    opacity: 0;
}

.js-wp-1.animated {
    opacity: 1;
}


/* FONT FACES */
@font-face {
    font-family: 'Cubano-Regular';
    src: local('../fonts/Cubano-Regular.otf'), url('../fonts/Cubano-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: local('../fonts/Nunito-Regular.ttf'), url('../fonts/Nunito-Regular.ttf') format('truetype');
}

 /* Bootstrap 4: MD*/
@media (max-width: 991px) {

    #nav-main {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Nunito-Regular';
        background: transparent;
        padding: 0;
    }

    .nav-icon {
        display: inline-block;
        margin: 0;
        padding-right: 20px;
    }
}

 /* Bootstrap 4: SM*/
@media (max-width: 767px) {

    html, body {
    font-size: 16px;
    }
    #about img {
        float: none;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px !important;
    }

#testimonials img {
        float: none;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
    }

    /*Hamburger navigation*/
    #nav-main {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #222;
        text-align: center;
        transform: translateX(-100%);
        transition: 0.6s ease;
    }

    #nav-main ul {
        margin: 0;
        padding: 0;
    }

    #nav-main ul li {
        padding: 10px 20px;
        display: block;
        float: none;
        margin: 0px;
    }
}

 /* Bootstrap 4: XS*/
@media (max-width: 580px) {

    html, body {
        font-size: 12px;
    }

    #cover-caption {
        margin-top: 16rem;
    }

    .nav-icon {
        font-size: 2.1rem;
    }
    
    #about img {
        float: none;
        margin: 0 auto;
        display: block;
    }

    #testimonials img {
        float: none;
        margin: 0 auto;
        display: block;
    }

    .testimonial-message {
        padding-top: 2rem;
    }

    .slider-button-parent {
        font-size: 1rem;
    }

    .arrow-left {
        padding-right: 0;
    }

    .arrow-right {
        padding-left: 0;
    }
}