html,
body {
   height: 100%;
    font-size: 16px;
    font-family: 'Cubano-Regular';
}

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}

section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

}

.odd-section-color {
    background: #F3F3F3;
}

/* Main navigation*/
#nav-main {
   align-self: flex-start;
   font-family: 'Nunito-Regular';
   display: flex;
   align-items: center;
   justify-content: center;
   background: transparent;
   padding: 0 15%;
}

.nav-icon {
   margin-right: 1rem;
}

.nav-icon:hover {
   background: deeppink;
   border-radius: 50%;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   transition: 0.5s;
}

#nav-main ul {
    display: inline-block
}

.nav-icon i {
   background: rgba(126, 160, 158, 0.4);;
   border-radius: 50%;
   padding: 0.8rem;
   color: rgba(255, 255, 255, 1);
   font-size: 1.8rem;
}

#nav-main li a {
   border-bottom: 1px solid transparent;
   color: rgba(126, 160, 158, 0.8);
   text-transform: uppercase;
   font-size: 1.2rem;
   transition: 0.5s;
}

#nav-main li a:hover {
   border-bottom: 2px solid rgba(19, 128, 36, 1);
   transition: 0.9s;
}

/* Cover section */
#cover-section {
   background: url('../img/cover-background.jpg');
   background-size: cover;
   color: #fff;
   height: 100%;
   width: 100%;
   
}

#cover-caption {
   font-weight: 200;
   margin: 25rem 0 auto;
   border-radius: 1.375rem;
   padding: 5rem;
   text-align: center;
   color: #fff;
   font-weight: 700;
   width: 100%;
   align-self: flex-end;
}

#cover-caption h1 {
   text-transform: uppercase;
   font-weight: 700;
}

#cover-caption p {
   font-size: 1.4rem;
   margin-bottom: 1rem;
}


#cover-caption a {
   margin-top: 1rem;
   font-size: 2rem;
   color: rgba(19, 128, 36, 0.9);
   transition: 0.85s;
}

#cover-caption a:hover {
   color: white;
   font-size: 2.5rem;
   transition: 0.8s;
}

/* Features-section */

 /* About-section */

#about img {
  float: right;
  width: 160px;
  border-radius: 50%;
  background-size: cover;
  border: 2px solid black;
 box-sizing: border-box;
}

/*Work Section*/
#work img {
    width: 100%;
}

#work .card-block {
    padding-bottom: 0;
}

 /* Testimonials Section */

 #testimonials {
     height: auto;
 }

#testimonials img {
  float: right;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-size: cover;
  border: 2px solid black;
}

#testimonials .row {
  display: flex;
  flex-wrap: wrap;
}

.slider-button-parent {
    align-self: center;
}

.slider-button-parent a:hover {
    cursor: pointer;
    color: deeppink;
}

.slider-container {
    height: 100%;
}


#testimonials-slider-nav {
    text-align: center;
}

.testimonial-slider-item:hover {
    opacity: 0;
    transition: 5s;
}

.fadeOut{
    width: 0px;
    transition: 2s;
}

.current {
    border:2px solid red;
}

/* Footer Section*/

footer {
    background-color: #222;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

footer .row {
  display: flex;
  align-items: center;
  justify-content: center;
} 

.social-links {
    list-style: none;
    float: right;
    margin-top: 20px;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    padding-right: 25px;
}

.social-links li:last-child {
    margin-right: 0;
}


.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 160%;
    transition: 0.2s;
}


.social-links i:hover {
    color: deeppink;
}

.fa-facebook-square, 
.fa-twitter-square,
.fa-google-plus-square,
.fa-instagram {
    transition: 0.2s;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 45px;
    font-size: 18px;
}

.fa-chevron-circle-up {
    margin-top: 35px;
    color: rgb(14, 96, 27);
    transition: 0.2s;
}

.fa-chevron-circle-up:hover {
    color: rgba(14, 96, 27, 0.92);
    transition: 0.2s;
}


/* Text styles*/

h2 {
    text-align: center;
    padding-bottom: 1.25rem;
}

.bold-green {
   font-weight: 700;
   color: rgba(19, 128, 36, 0.9);
}

.green-underline {
   color: white;
    border-bottom: 4px solid rgba(19, 128, 36, 1);
}

/* Animations */
.js-wp-1 {
    opacity: 0;
}

.js-wp-1.animated {
    opacity: 1;
}




/* FONT FACES */
@font-face {
    font-family: 'Cubano-Regular';
    src: local('../fonts/Cubano-Regular.otf'), url('../fonts/Cubano-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: local('../fonts/Nunito-Regular.ttf'), url('../fonts/Nunito-Regular.ttf') format('truetype');
}


@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
#testimonials img {
    float: none;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    }
}

@media (max-width: 580px) {
#about img {
    float: none;
    margin: 0 auto;
    display: block;
    }

    #testimonials img {
    float: none;
    margin: 0 auto;
    display: block;
    }
}